<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>QuanQqqqq的博客--关于我们</title>
  <link rel="stylesheet" type="text/css" href="resource/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="resource/css/vicons-font.css" />
  <link rel="stylesheet" type="text/css" href="resource/css/base.css" />
  <link rel="stylesheet" type="text/css" href="resource/css/buttons.css" />
  <link rel="stylesheet"  href="resource/bootstrap/css/bootstrap.css" />
  
  <link rel="stylesheet" href="resource/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="resource/css/bootstrap-demo-style.css" />
  <script src="resource/bootstrap/js/jquery-2.2.2.min.js" type="text/javascript"></script>
  <script src="resource/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  <link rel="stylesheet"  href="resource/css/style.css" />
  <meta charset="utf-8">
</head>
<body class="body-style">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="nav-content-width">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#"><b>Link</b></a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a href="index.html" class="navbar-brand"><b>主页</b></a></li>
          <li ><a href="mySay.html" class="navbar-brand"><b>我的博客</b></a></li>
          <li><a href="articleManage.html" class="navbar-brand"><b>管理后台</b></a></li>
          <li class="navbar-active"><a href="aboutUs.html" class="navbar-brand"><b>关于</b></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="login.html" class="navbar-brand"><b>登录</b></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron" style="margin-top: 20px;">
    <div class="section">
      <div class="container">
        <center>
          <h1 style="font-size: 3.3em;">
            About Me
          </h1>
        </center>
        <h3><b>I’m QuanQqqqq</b></h3>
        <p class="article-p">好了不讲英语了，我到现在连4级都没过还在这拼命装逼玩英语，本人自称小Q，北京师范大学珠海分校15届学生，人送绰号叶助教，本人为ACM协会一名成员，其实本人是蒟蒻，啥都不会，就连参加ACM-ICPC都只能水铜打铁。至于这么多个Q是怎么出来的，详情请查看键盘的右上角那个Q键。</p>
        <p class="article-p">现任15软件二班班长，然而什么都不会，靠着班上强大的队友支撑着整个班，曾今参加过各种水过的比赛，比如：各种新生赛（ACM、网页设计、小游戏），IT节计算机作品和ACM比赛，ACM省赛，ACM亚洲区域赛，ACM亚洲区域赛CHINA-FINAL。还水过二等奖学金，总之拿过的奖少之又少。所以自称蒟蒻。</p>
      </div>
    </div>
    <div class="section section-select">
      <div class="container">
        <div class="col-md-3">
          <img src="resource/img/header-bg2.jpg" width="100%" style="margin-bottom: 20px;margin-top: 20px;" />
        </div>
        <div class="col-md-9">
          <h2>编程类擅长</h2>
          <p class="article-p">讲道理我着这里说，我只会开关机，擦洗键盘和鼠标，你们肯定是不会信我的啦。</p>
          <p class="article-p">本人于2015年8月份开始接触编程，第一次写代码是c++的hello world，在9月份的时候开始正式接触c语言，在10月份时接触html+css，当时完全看不懂js</p>
          <p class="article-p">在2016年1月份时正式接触js，在2016年2月份时接触java和php，然后用php+mysql写出了第一个个人小网站。</p>
          <p class="article-p">在2016年5月份时接触第一个html框架ionic，接下来接触了js的angularjs框架，在7月份时接触到了java的springmvc框架并延续至今。后来学习了一点linux的操作系统命令。
          <p class="article-p">如今除了以上所述什么都不会，所以本人是15届大学生的蒟蒻一枚，各位不要嘲笑。</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="media insulate-div-vertical">
          <a class="media-left" href="mySay.html">
            <img src="resource/img/design1.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">本蒟蒻特别喜欢写博客，所以才真的自己写了个博客出来hhhh。主要是博客能记下自己的逗比历史，总好过长大以后什么东西都不知道的比较好吧。再加上自己文采不好，经常有错别字，所以总是被人吐槽需要去重读语文TnT。但是我真的很喜欢吹水啊。</p>
          </div>
        </div>
        <div class="media insulate-div-vertical">
          <a class="media-left" href="foodIndex.html">
            <img src="resource/img/design2.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">除了吹水以外，其实个人还是挺贪吃的，见到一些好吃的东西总会情不自禁的流口水，真的，如果你不信你可以点进去看看hhhh。零食个人是少吃的，主要是贪吃饭食，有段时间感觉一顿不吃饭心里饿得慌。</p>
          </div>
        </div>
        <div class="media insulate-div-vertical">
          <a class="media-left" href="scenery.html">
            <img src="resource/img/design3.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">讲道理，摆一个相机在这里，并不代表，我爱拍照。我真的不会拍照，买不起单反，看着他们那些拿着相机走来走去的巨酷，但是本人挺喜欢一下漂亮的风景图的，如果有童鞋可以捐赠一些风景图（靓女图）给我的话。本蒟蒻不介意的=-=。</p>
          </div>
        </div>
        <div class="media insulate-div-vertical">
          <a class="media-left" href="animation.html">
            <img src="resource/img/design4.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">其实个人也不算一个动漫宅吧，但是特别喜欢海贼，已经喜欢了14年了，身边的各式各样的东西离不开海贼，因为喜欢它的热血，所以一直追随下去。当然啦，我可是没有看过我的名字的，虽然它的歌真的很好听←_←。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="foot-container">
        <div class="col-md-8">
          <h2>本站介绍</h2>
          <p>
          北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
          </p>
          <br>
          <p>
          北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
          </p>
          <br>
        </div>
        <div class="col-md-3">
          <h2>友情链接</h2>
          <p><a href="http://acm.bnuz.edu.cn">北京师范大学珠海分校ACM协会官网</a></p>
          <p><a href="https://oj.bnuz.edu.cn">WeJudge在线评测教学辅助系统</a></p>
        </div>
      </div>
      
    </div>
    <center>
        <br>
        <p>
          Copyright ©2016 QuanQqqqq
        </p>
      </center>
  </footer>
</body>
</html>