{% extends "base.html" %}
  {% block body_content %}
      <script type="text/javascript">
        $(function () {
            $('#li-4').addClass("navbar-active");
        })
      </script>
  <div class="jumbotron" style="margin-top: 20px;">
    <div class="section">
      <div class="container">
        <center>
          <h1 style="font-size: 3.3em;">
            About Me
          </h1>
        </center>
        <h3><b>I'm QuanQqqqq</b></h3>
        <p class="article-p">好了不讲英语了，我到现在连4级都没过还在这拼命装逼玩英语，本人自称小Q，北京师范大学珠海分校15届学生，人送绰号叶助教，本人为ACM协会一名成员，其实本人是蒟蒻，啥都不会，就连参加ACM-ICPC都只能水铜打铁。至于这么多个Q是怎么出来的，详情请查看键盘的右上角那个Q键。</p>
        <p class="article-p">现任15软件二班班长，然而什么都不会，靠着班上强大的队友支撑着整个班，曾今参加过各种水过的比赛，比如：各种新生赛（ACM、网页设计、小游戏），IT节计算机作品和ACM比赛，ACM省赛，ACM亚洲区域赛，ACM亚洲区域赛CHINA-FINAL。还水过二等奖学金，总之拿过的奖少之又少。所以自称蒟蒻。</p>
      </div>
    </div>
    <div class="section section-select">
      <div class="container">
        <div class="col-md-3">
          <img src="/static/resource/img/header-bg2.jpg" width="100%" style="margin-bottom: 20px;margin-top: 20px;" />
        </div>
        <div class="col-md-9">
          <h2>编程类擅长</h2>
          <p class="article-p">讲道理我着这里说，我只会开关机，擦洗键盘和鼠标，你们肯定是不会信我的啦。</p>
          <p class="article-p">本人于2015年8月份开始接触编程，第一次写代码是c++的hello world，在9月份的时候开始正式接触c语言，在10月份时接触html+css，当时完全看不懂js</p>
          <p class="article-p">在2016年1月份时正式接触js，在2016年2月份时接触java和php，然后用php+mysql写出了第一个个人小网站。</p>
          <p class="article-p">在2016年5月份时接触第一个html框架ionic，接下来接触了js的angularjs框架，在7月份时接触到了java的springmvc框架并延续至今。后来学习了一点linux的操作系统命令。
          <p class="article-p">如今除了以上所述什么都不会，所以本人是15届大学生的蒟蒻一枚，各位不要嘲笑。</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="media insulate-div-vertical">
          <a class="media-left" href="mySay.html">
            <img src="/static/resource/img/design1.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">本蒟蒻特别喜欢写博客，所以才真的自己写了个博客出来hhhh。主要是博客能记下自己的逗比历史，总好过长大以后什么东西都不知道的比较好吧。再加上自己文采不好，经常有错别字，所以总是被人吐槽需要去重读语文TnT。但是我真的很喜欢吹水啊。</p>
          </div>
        </div>
        <div class="media insulate-div-vertical">
          <a class="media-left" href="foodIndex.html">
            <img src="/static/resource/img/design2.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">除了吹水以外，其实个人还是挺贪吃的，见到一些好吃的东西总会情不自禁的流口水，真的，如果你不信你可以点进去看看hhhh。零食个人是少吃的，主要是贪吃饭食，有段时间感觉一顿不吃饭心里饿得慌。</p>
          </div>
        </div>
        <div class="media insulate-div-vertical">
          <a class="media-left" href="scenery.html">
            <img src="/static/resource/img/design3.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">讲道理，摆一个相机在这里，并不代表，我爱拍照。我真的不会拍照，买不起单反，看着他们那些拿着相机走来走去的巨酷，但是本人挺喜欢一下漂亮的风景图的，如果有童鞋可以捐赠一些风景图（靓女图）给我的话。本蒟蒻不介意的=-=。</p>
          </div>
        </div>
        <div class="media insulate-div-vertical">
          <a class="media-left" href="animation.html">
            <img src="/static/resource/img/design4.png" width="50px;">
          </a>
          <div class="media-body">
            <p class="article-p">其实个人也不算一个动漫宅吧，但是特别喜欢海贼，已经喜欢了14年了，身边的各式各样的东西离不开海贼，因为喜欢它的热血，所以一直追随下去。当然啦，我可是没有看过我的名字的，虽然它的歌真的很好听←_←。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}