<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>QuanQqqqq的博客--文章列表</title>
    <link rel="stylesheet" type="text/css" href="resource/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/vicons-font.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/base.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/buttons.css" />
    <link rel="stylesheet"  href="resource/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="resource/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="resource/css/bootstrap-demo-style.css" />

    <script src="resource/bootstrap/js/jquery-2.2.2.min.js" type="text/javascript"></script>
    <script src="resource/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="resource/user/js/myOperate.js"></script>
    <link rel="stylesheet"  href="resource/css/style.css" />
    <meta charset="utf-8">
  </head>
  <body class="body-style">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="nav-content-width">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="index.html" class="navbar-brand"><b>主页</b></a></li>
            <li class="navbar-active"><a href="mySay.html" class="navbar-brand"><b>我的博客</b></a></li>
            <li><a href="articleManage.html" class="navbar-brand"><b>管理后台</b></a></li>
            <li><a href="aboutUs.html" class="navbar-brand"><b>关于</b></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ><a href="login.html" class="navbar-brand"><b>登录</b></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="zone_header">
    </div>
    <div class="zone_body">
      <div class="container">
        <img class="hidden-xs"src="resource/img/banner2.jpg" width="150px;" height="150px;"/>
        <div class="zone_info">
          <span class="visible-lg-block visible-md-block visible-sm-block">
            <p class="p_info1">小Q同学 - <span class="span_info3">代码狂人</span></p>
          </span>
          <span class=" visible-xs-block">
            <p class="p_info1">小Q同学</p>
          </span>
          <p class="p_info2">——拯救技术宅不开心</p>
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
      <div class="col-md-7 col-md-offset-1">
      <h4>
        <span class="address-font">
          <img src="resource/img/address.png" width="25px" height="25px" /><b>你当前的位置：</b><a href="index.html">首页</a>&nbsp > &nbsp<a href="mySay.html">我的博客</a> &nbsp > &nbsp<a href="article.html">Media heading</a>
        </span>
      </h4>
        <div class="container bs-docs-container" style="margin-bottom: 20px;">
          <center>
            <h2>小Q 19岁了</h2>
            <span>作者：小Q · 2016-11-7</span>
          </center>
          <div class="content-info">
            <h3><b>初次相见</b></h3>
            <p class="post-content">
              2012 年中旬左右，为了帮朋友做一个网站后台，我希望找一个能够利用 PHP5 新特性的 PHP 框架，这时遇到了 Laravel 。其实在这之前其实还研究过 Kohana，不幸的是，Kohana 背后的创始人和团队没有能够一直坚持下来。
            </p>
            <p class="post-content">
              I've been working on this framework for about 7 months. I've worked really hard to make it powerful, yet accessible. I set out to launch with documentation as good as CodeIgniter from day one, and I think we did. The syntax is intuitive and expressive.
            </p>
            <h3><b>初次相见</b></h3>
            <p class="post-content">
              2012 年中旬左右，为了帮朋友做一个网站后台，我希望找一个能够利用 PHP5 新特性的 PHP 框架，这时遇到了 Laravel 。其实在这之前其实还研究过 Kohana，不幸的是，Kohana 背后的创始人和团队没有能够一直坚持下来。
            </p>
            <p class="post-content">
              I've been working on this framework for about 7 months. I've worked really hard to make it powerful, yet accessible. I set out to launch with documentation as good as CodeIgniter from day one, and I think we did. The syntax is intuitive and expressive.
            </p>
            <h3><b>初次相见</b></h3>
            <p class="post-content">
              2012 年中旬左右，为了帮朋友做一个网站后台，我希望找一个能够利用 PHP5 新特性的 PHP 框架，这时遇到了 Laravel 。其实在这之前其实还研究过 Kohana，不幸的是，Kohana 背后的创始人和团队没有能够一直坚持下来。
            </p>
            <p class="post-content">
              I've been working on this framework for about 7 months. I've worked really hard to make it powerful, yet accessible. I set out to launch with documentation as good as CodeIgniter from day one, and I think we did. The syntax is intuitive and expressive.
            </p>
          </div>
          <div class="">
            <h2>发表评论</h2>
            <div class="thumbnail"><textarea node-type="textarea" class="textarea-style"></textarea>
            </div>
            <div>
              <a href="#"><img src="resource/img/photo.png" width="30px;" style="margin-left: 10px;"></a>
              <a href="#"><img src="resource/img/small.png" width="30px;" style="margin-left: 10px;"></a>
              <button class="btn btn-info" style="float: right;">发表评论</button>
            </div>
            <h2>评论列表</h2>
            <hr>
            <div class="col-md-12 comment-style">
              <div class="col-md-2"">
                <img src="resource/img/banner2.jpg" class="img-circle" alt="..." width="80px;" height="80px;">
              </div>
              <div class="col-md-10 col-xs-12">
                <h4>来自外太空的小Q</h4>
                <p>听说这个网站超厉害，花样居多，啥都有，我真的好羡慕啊，好羡慕啊，好羡慕啊，好羡慕啊，好羡慕啊，好羡慕啊好羡慕啊，好羡慕啊，好羡慕啊</p>
              </div>
            </div>
            <div class="col-md-12 comment-style">
              <div class="col-md-2"">
                <img src="resource/img/banner2.jpg" class="img-circle" alt="..." width="80px;" height="80px;">
              </div>
              <div class="col-md-10 col-xs-12">
                <h4>来自外太空的小Q</h4>
                <p>我是炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡炒鸡爱吃棉花糖的小Q</p>
              </div>
            </div>
            <div class="col-md-12 comment-style">
              <div class="col-md-2"">
                <img src="resource/img/banner2.jpg" class="img-circle" alt="..." width="80px;" height="80px;">
              </div>
              <div class="col-md-10 col-xs-12">
                <h4>来自外太空的小Q</h4>
                <p>讲道理，听说楼上那个很喜欢吃棉花糖</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container bs-docs-container">
          <h4 class="title"><b>小Q同学</b></h4>
          <p><b>个性签名：</b></p>
          <p>我才不是那个不愿意透露姓名的小Q呢，所以我默默的留下了我的联系方式</p>
          <p><b>联系方式：</b><p>
          <p>QQ:1515021487</p>
          <p>微信:不愿意透露姓名的小Q</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container bs-docs-container">
          <h4 class="title"><b>文章分类</b></h4>
          <div class="button-content">
            <a class="btn btn-block btn-default-mybotton">小Q成长日记</a>
            <a class="btn btn-block btn-default-mybotton">算法道路</a>
            <a class="btn btn-block btn-default-mybotton">ACM成长之路</a>
            <a class="btn btn-block btn-default-mybotton">题解</a>
            <a class="btn btn-block btn-default-mybotton">赛后感言</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container bs-docs-container">
          <h4 class="title"><b>博客标签</b></h4>
          <div class="tag-cloud">
            <a href="#">小Q</a>
            <a href="#">QQQQQQ</a>
            <a href="#">小Q专QQQ</a>
            <a href="#">小Q会笑一个给你看</a>
            <a href="#">小Q专辑1</a>
            <a href="#">小Q专辑1</a>
            <a href="#">小Q专辑1</a>
            <a href="#">小Q专辑1</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="foot-container">
          <div class="col-md-8">
            <h2>本站介绍</h2>
            <p>
            北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
            </p>
            <br>
            <p>
            北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
            </p>
            <br>
          </div>
          <div class="col-md-3">
            <h2>友情链接</h2>
            <p><a href="http://acm.bnuz.edu.cn">北京师范大学珠海分校ACM协会官网</a></p>
            <p><a href="https://oj.bnuz.edu.cn">WeJudge在线评测教学辅助系统</a></p>
          </div>
        </div>
        
      </div>
      <center>
          <br>
          <p>
            Copyright ©2016 QuanQqqqq
          </p>
        </center>
    </footer>
  </body>
</html>