<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "head.html" %}
</head>

<body class="body-style">
  {% include "navbar.html" %}
  {% block body_content %}
  {% endblock %}
  {% include "footer.html" %}
</body>
    <script>
      var index = 0;
      var time = 0;
      $(function(){
        setInterval('printContent(time++);', 500);
      });
      function printContent(time){
        var content = 'Hello world';
        var len = content.length;
        var newContent = '';
        var rad = Math.round(Math.random() * 2);
        if(rad){
          index = index + 1 < len ? index + 1 : len;
        }else{
          index = index - 1 >= 0 ? index - 1 : 0;
        }
        for(var i = 0;i < index;i++)
          newContent += content[i];
        if(time % 2)
          newContent += '|';
        $('#content').html(newContent);
      }
    </script>
</html>