<!DOCTYPE html>
<html lang="zh-CN">
{% include "head.html" %}

{% include "navbar.html" %}

<body class="login-background">
<div class="log-centered-container">
    <center>
      <h1>欢迎，请登录您的账号</h1>
      <div class="input-group insulate-div-vertical input-group-lg">
        <span class="input-group-addon">账号</span>
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="input-group insulate-div-vertical input-group-lg">
        <span class="input-group-addon">密码</span>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="button" class="btn btn-info insulate-div-vertical" style="margin-top: 0px;width: 100%;padding-top: 10px;padding-bottom:10px;"><span>确认登录</span></button>
      <p>还没注册用户？不要紧张，请看下面</p>
      <p><a href="register.html" style="color: #0275d8;">注册用户</a></p>
    </center>
  </div>
</body>
</html>