{% extends "base.html" %}
{% block title_content %}--小Q,19岁了 {% endblock %}
{% block style_content %}
    <style rel="stylesheet" href="/static/resource"></style>
{% endblock %}
  {% block body_content %}
  <div class="zone_header">
  </div>
  <div class="zone_body">
    <div class="container">
      <img class="hidden-xs"src="/static/resource/img/banner2.jpg" width="150px;" height="150px;"/>
      <div class="zone_info">
        <span class="visible-lg-block visible-md-block visible-sm-block">
          <p class="p_info1">小Q同学 - <span class="span_info3">代码狂人</span></p>
        </span>
        <span class=" visible-xs-block">
          <p class="p_info1">小Q同学</p>
        </span>
        <p class="p_info2">——拯救技术宅不开心</p>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-md-7 col-md-offset-1">
    <h4>
      <span class="address-font">
        <img src="/static/resource/img/address.png" width="25px" height="25px" /><b>你当前的位置：</b><a href="index.html">首页</a>&nbsp > &nbsp<a href="mySay.html">我的博客</a>
      </span>
    </h4>
      <div class="container bs-docs-container">
        <div class="row">
          <div class="media">
            <a class="media-left" href="#">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-lg-block visible-md-block" alt="..." width="150px;" height="150px;">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-sm-block" alt="..." width="100px;" height="100px;">
            </a>
            <div class="media-body">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-xs-block" alt="..." width="150px;" height="150px;">
              <h3 class="media-heading"><a href="article.html">Media heading</a></h3>
              <h5><b>作者：xxx</b></h5>
              <p>
              做过前端开发的小伙伴们应该对Bootstrap不 会陌生，它是由Twitter推出的开源CSS框架，其中包含了很多Web前端开发的工具包和应用组件。当然，和jQuery一样，Bootstrap同 时也是一个开放式的CSS框架，基于Bootstrap，我们也可以做许多不错的CSS UI组件。本文就介绍了8个强大的基于Bootstrap的CSS框架，一起来看看。
              做过前端开发的小伙伴们应该对Bootstrap不 会陌生，它是由Twitter推出的开源CSS框架，其中包含了很多Web前端开发的工具包和应用组件。当然，和jQuery一样，Bootstrap同 时也是一个开放式的CSS框架，基于Bootstrap，我们也可以做许多不错的CSS UI组件。本文就介绍了8个强大的基于Bootstrap的CSS框架，一起来看看。
              </p>
              <div class="row">
                <div class="col-md-3">
                  <img src="/static/resource/img/browse.png" width="20px;" /><b>155人</b>
                </div>
                <div class="col-md-4">
                  <img src="/static/resource/img/comment.png" width="20px;" /><b>122条</b>
                </div>
                <div class="col-md-5">
                  <img src="/static/resource/img/time.png" width="20px;" /> <b>2016-11-07</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="media">
            <a class="media-left" href="#">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-lg-block visible-md-block" alt="..." width="150px;" height="150px;">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-sm-block" alt="..." width="100px;" height="100px;">
            </a>
            <div class="media-body">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-xs-block" alt="..." width="150px;" height="150px;">
              <h3 class="media-heading"><a href="article.html">Media heading</a></h3>
              <h5><b>作者：xxx</b></h5>
              <p>
              做过前端开发的小伙伴们应该对Bootstrap不 会陌生，它是由Twitter推出的开源CSS框架，其中包含了很多Web前端开发的工具包和应用组件。当然，和jQuery一样，Bootstrap同 时也是一个开放式的CSS框架，基于Bootstrap，我们也可以做许多不错的CSS UI组件。本文就介绍了8个强大的基于Bootstrap的CSS框架，一起来看看。
              </p>
              <div class="row">
                <div class="col-md-3">
                  <img src="/static/resource/img/browse.png" width="20px;" /><b>155人</b>
                </div>
                <div class="col-md-4">
                  <img src="/static/resource/img/comment.png" width="20px;" /><b>122条</b>
                </div>
                <div class="col-md-5">
                  <img src="/static/resource/img/time.png" width="20px;" /> <b>2016-11-07</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="media">
            <a class="media-left" href="#">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-lg-block visible-md-block" alt="..." width="150px;" height="150px;">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-sm-block" alt="..." width="100px;" height="100px;">
            </a>
            <div class="media-body">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-xs-block" alt="..." width="150px;" height="150px;">
              <h3 class="media-heading"><a href="article.html">Media heading</a></h3>
              <h5><b>作者：xxx</b></h5>
              <p>
              做过前端开发的小伙伴们应该对Bootstrap不 会陌生，它是由Twitter推出的开源CSS框架，其中包含了很多Web前端开发的工具包和应用组件。当然，和jQuery一样，Bootstrap同 时也是一个开放式的CSS框架，基于Bootstrap，我们也可以做许多不错的CSS UI组件。本文就介绍了8个强大的基于Bootstrap的CSS框架，一起来看看。
              </p>
              <div class="row">
                <div class="col-md-3">
                  <img src="/static/resource/img/browse.png" width="20px;" /><b>155人</b>
                </div>
                <div class="col-md-4">
                  <img src="/static/resource/img/comment.png" width="20px;" /><b>122条</b>
                </div>
                <div class="col-md-5">
                  <img src="/static/resource/img/time.png" width="20px;" /> <b>2016-11-07</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="media">
            <a class="media-left" href="#">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-lg-block visible-md-block" alt="..." width="150px;" height="150px;">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-sm-block" alt="..." width="100px;" height="100px;">
            </a>
            <div class="media-body">
              <img src="/static/resource/img/banner2.jpg" class="img-circle visible-xs-block" alt="..." width="150px;" height="150px;">
              <h3 class="media-heading"><a href="article.html">Media heading</a></h3>
              <h5><b>作者：xxx</b></h5>
              <p>
              做过前端开发的小伙伴们应该对Bootstrap不 会陌生，它是由Twitter推出的开源CSS框架，其中包含了很多Web前端开发的工具包和应用组件。当然，和jQuery一样，Bootstrap同 时也是一个开放式的CSS框架，基于Bootstrap，我们也可以做许多不错的CSS UI组件。本文就介绍了8个强大的基于Bootstrap的CSS框架，一起来看看。
              </p>
              <div class="row">
                <div class="col-md-3">
                  <img src="/static/resource/img/browse.png" width="20px;" /><b>155人</b>
                </div>
                <div class="col-md-4">
                  <img src="/static/resource/img/comment.png" width="20px;" /><b>122条</b>
                </div>
                <div class="col-md-5">
                  <img src="/static/resource/img/time.png" width="20px;" /> <b>2016-11-07</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 50px;">
        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="container bs-docs-container">
        <h4 class="title"><b>小Q同学</b></h4>
        <p><b>个性签名：</b></p>
        <p>我才不是那个不愿意透露姓名的小Q呢，所以我默默的留下了我的联系方式</p>
        <p><b>联系方式：</b><p>
        <p>QQ:1515021487</p>
        <p>微信:不愿意透露姓名的小Q</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container bs-docs-container">
        <h4 class="title"><b>博客标签</b></h4>
        <div class="tag-cloud">
          <a href="#">小Q</a>
          <a href="#">QQQQQQ</a>
          <a href="#">小Q专QQQ</a>
          <a href="#">小Q会笑一个给你看</a>
          <a href="#">小Q专辑1</a>
          <a href="#">小Q专辑1</a>
          <a href="#">小Q专辑1</a>
          <a href="#">小Q专辑1</a>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}