<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>QuanQqqqq的博客--北京师范大学珠海分校</title>
  <link rel="stylesheet" type="text/css" href="resource/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="resource/css/vicons-font.css" />
  <link rel="stylesheet" type="text/css" href="resource/css/base.css" />
  <link rel="stylesheet" type="text/css" href="resource/css/buttons.css" />
  <link rel="stylesheet"  href="resource/bootstrap/css/bootstrap.css" />
  
  <link rel="stylesheet" href="resource/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="resource/css/bootstrap-demo-style.css" />
  <script src="resource/bootstrap/js/jquery-2.2.2.min.js" type="text/javascript"></script>
  <script src="resource/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  <link rel="stylesheet"  href="resource/css/style.css" />
  <meta charset="utf-8">
</head>
<body class="body-style">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="nav-content-width">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#"><b>Link</b></a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a href="index.html" class="navbar-brand"><b>主页</b></a></li>
          <li ><a href="mySay.html" class="navbar-brand"><b>我的博客</b></a></li>
          <li><a href="articleManage.html" class="navbar-brand"><b>管理后台</b></a></li>
          <li class="navbar-active"><a href="aboutUs.html" class="navbar-brand"><b>关于</b></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="login.html" class="navbar-brand"><b>登录</b></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container school-content" style="margin-top:100px;border: 1px solid #ccc;">
    <div class="insulate-div-vertical" style="margin-top: 20px;">
      <div class="col-md-8">
        <h1>北京师范大学珠海分校</h1>
        <h3>Beijing Normal University, Zhuhai</h3>
        <p>&nbsp&nbsp&nbsp&nbsp北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。</p>
        <table class="table table-hover">
          <tr>
            <td>
              <span class="span-min-width-20"><b>创建时间</b></span>
              <span class="span-min-width-20">2001年12月16日</span>
            </td>
            <td>
              <span class="span-min-width-20"><b>所属地区</b></span>
              <span class="span-min-width-20">广东珠海</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="span-min-width-20"><b>所属地区</b></span>
              <span class="span-min-width-20">广东珠海</span>
            </td>
            <td>
              <span class="span-min-width-20"><b>类别&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b></span>
              <span class="span-min-width-20">独立学院</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="span-min-width-20"><b>学校类型</b></span>
              <span class="span-min-width-20">综合类</span>
            </td>
            <td>
              <span class="span-min-width-20"><b>学校代码</b></span>
              <span class="span-min-width-20">13177</span>
            </td>
          </tr>
        </table>

      </div>
      <div class="col-md-4">
        <img src="resource/img/school-beishi2.jpg" width="80%;" style="float: right;border: 1px solid #ccc;">
      </div>
    </div>
  </div>
  <div class="container" style="padding-left: 0px;margin-top: 50px;">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">简介</a></li>
      <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">历史沿革</a></li>
      <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">办学条件</a></li>
      <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">其他内容</a></li>
    </ul>
  </div>
  <div class="container school-content" style="border: 1px solid #ccc;border-top:0px;margin-bottom: 100px;">


    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <h3>简介</h3>
        <hr>
        <p>北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
按照教育部的规定，北京师范大学珠海分校的教学组织和管理由北京师范大学负责。北京师范大学派出管理干部和教授，负责分校的行政和教育教学管理工作。
据2016年7月学校网站信息显示， 珠海分校占地5000余亩，总规划建筑面积100万平方米；目前已完成建筑面积60余万平方米，投资已逾20亿元；全日制在校生2.3万多人。
        </p>
        <p>据了解，北师大珠海分校是经中国教育部批准设立，由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通高等学校。15年来，该校按“资源国有、学校举办、市场运作、全新模式”的建校方针，大胆进行教学模式、管理方式、运行机制、国际合作以及产学研一体化方面的改革尝试。</p>
        <p>据校方介绍，北师大珠海分校设有15个学院(部)、61个本科专业，目前全日制在校生23000人。全校累计毕业11届学生，逾43000人；学校还与境外128所高校建立合作关系，有近3200名学生出境深造。</p>
　　<p>北师大校长董奇在讲话中高度评价了珠海分校的改革道路和成就。</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <h3>历史沿革</h3>
        <hr>
          <p>2000年10月24日，北京师范大学与珠海市政府签署了合作建设北京师范大学珠海教育园区的协议。</p>
<p>2001年12月16日，北京师范大学在珠海市举行了珠海校园暨教育园区奠基仪式。12月16日被定为校庆日。时任北师大校长袁贵仁与时任珠海市市委书记黄龙云在京签署合作办学协议，协议确定北京师范大学与珠海市人民政府合作共建北京师范大学珠海教育园区。</p>
<p>2002年3月14日，中华人民共和国教育部发出文件，批准北京师范大学在珠海设立珠海教育园区，并将珠海教育园区定性为“高等教育综合性教育改革试验园区”。</p>
<p>2002年4月，国家编制委员会特批准北京师范大学珠海教育园区，编制名为“北京师范大学珠海校区”（全国重点大学）。</p>
2002年10月18日，北京师范大学珠海教育园区正式开学。</p>
<p>2003年，北京师范大学向教育部发出《北京师范大学关于将“北京师范大学珠海教育园区”更名为“北京师范大学珠海校区”的请示》。</p>
<p>2003年，北师大将之更名为北京师范大学珠海校区，并报请教育部；2003年7月30日，中华人民共和国教育部发出文件，批复北京师范大学珠海教育园区更名为北京师范大学珠海分校，学校类别被定为独立学院。</p>
<p>2003年9月28日，教育部复函北师大，北京师范大学珠海分校作为特殊情况，同意珠海分校02、03级学生学习期满且成绩合格者，颁发类似北京师范大学校毕业证书、学位证，内芯注明在珠海校区学习。</p>
<p>2004年由教育部批示正式更名为北京师范大学珠海分校。</p>
<p>2004年3月，教育部公布03年批准新专业名单，特别批准北京师范大学试办特许经营管理专业、物流管理、房地产经营管理专业三个专业，实际由珠海分校举办。2004年，珠海分校开始以分校名义面向全国单独招生，并坚持在第二批本科以上批次招生，并致函江苏、江西、湖南、湖北四省申明拒绝执行并要求取消四省所安排的第三批本科招生计划（江西于2006年复招，普通类划归第二批本科批次、艺术类为提前批本科一批）。</p>
<p>2004年6月30日，教育部部长周济视察分校，对珠海分校坚持在第二批本科以上批次的招生政策予以肯定。</p>
<p>2004年7月，广东省教育厅【粤教外（2004）84号】文件批复，批准珠海分校校接受外国留学生，至此珠海分校拥有招收外国留学生资格，并面向海外招生。</p>
<p>2004年10月22日珠海分校与深圳众望投资有限公司签署了合作办学协议，双方商定在广东省惠州市合作创办“北师大珠海分校惠州附属学校”，开展基础教育合作（包括学前教育、小学和中学）。
</p><p>2004年12月6日，中共北京师范大学委员会下发《中共北京师范大学委员会关于成立珠海分校党委的决定》，中国共产党北京师范大学珠海分校委员会正式成立。同时，撤销“中国共产党北京师范大学珠海校区临时党委”。</p>
<p>2005年1月4日下午，珠海分校董事会成立暨第一届董事会第一次会议在校本部英东学术会堂三层小会议室举行。董事会为北京师范大学珠海分校最高决策机构，北京师范大学珠海分校试实行校董会领导下的校长负责制。全国人大副委员长许嘉璐担任董事会名誉董事长，北师大原党委书记陈文博为校董事会董事长。</p>
<p>2006年，珠海市委、市政府决定全额出资1.3亿元，按照省一级高中标准建一所高水平、在省内具有竞争力和示范性的公办高中。附属高中由市教育局直接领导，北师大珠海分校实行全面管理。附属高中最终定名“北京师范大学珠海附属高级中学”。</p>
<p>2007年9月17日，北师大珠海分校附属外国语学校开工奠基，北师大珠海分校附属外国语学校是珠海市“十一五”规划项目，总投资1.2亿元，规划在校生4000人，为12年制寄宿学校。</p>
<p>2008年6月，时任珠海市委书记甘霖对北师大珠海分校作出重要批示，将北师大珠海分校办学定位为“公益性、开放式、国际化、高水准”，支持北师大珠海分校建设高水平有特色的国际性一流大学。</p>
<p>2008年10月，北京师范大学党委经商珠海市人民政府同意，决定由主办方北京师范大学和珠海市人民政府联合成立北京师范大学珠海教育园区领导小组，取代分校董事会领导珠海分校工作。至此，北京师范大学珠海教育园区概念被再次提起。</p>
<p>2008年11月19日，北京师范大学校本部发出文件，决定在北师大珠海教育园区成立北京师范大学珠海研究院。</p>
<p>2008年12月17日下午，北京师范大学珠海分校召开行政会议指出北师大珠海教育园区将计划再设立北师大珠海研究生培养基地（即北京师范大学研究生院珠海分院），北师大国家大学科技园珠海分园，按照四位一体（分校、研究院、研究生院、科技园）的发展规划进行发展。</p>
<p>2009年3月25日，国家高新区、珠海林业局与北师大珠海分校共建“森林式大学”工程项目正式启动。“森林式大学”工程是珠海市全民绿化运动森林建设系列项目之一，项目计划在5至8年内，将珠海北师大建设成一个人与自然和谐、生态环境优美、富有南国地域风情、文化特色鲜明的森林大学。</p>
<p>2013年5月20日，在教育部公布的“2012-2013年度全国毕业生就业典型经验高校”评选结果中，北京师范大学珠海分校和华南理工大学、广东工程职业技术学院作为广东省3所高校入选。</p>
<p>2013年7月1日，联合国学术影响力项目证书颁发暨揭牌仪式就在北京师范大学珠海分校国际交流中心举行，北师大珠海分校获批准为“联合国学术影响力成员”。</p>
<p>2013年11月30日，肇庆市人民政府与北京师范大学珠海分校合作创办了北京师范大学（珠海）肇庆附属学校。该校由北京师范大学珠海分校全面实施管理，是北京师范大学基础教育改革创新实验基地。</p>
<p>2014年4月25日，广东省教育厅公布自2015年起，北京师范大学珠海分校所有专业在广东省的招生录取批次调整为二批本科A类，且不分区域全省招生。</p>
<p>2015年11月10日，北京师范大学珠海分校中德合作项目获教育部批准设立。该项目由北京师范大学珠海分校与德国品牌学院-汉堡传播与管理应用科学大学合作举办，该项目学制四年，毕业颁发双方大学的毕业证书、学士学位证书。该项目是广东省唯一艺术类中外合作办学项目，也是全国唯一艺术类中德合作办学项目。</p>
<p>2016年7月，北京师范大学珠海分校入选广东省首批“普通本科高校转型应用型大学”试点名单。入选转型试点高校，将在招生考试、人事学科专业建设、科研、评估等方面，有系列改革利好政策，加速高校的发展。</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <h3>办学条件</h3>
        <hr>
        <p>截止2016年2月，北京师范大学珠海分校设有文学院、教育学院、管理学院、信息技术学院、不动产学院、特许经营学院、物流学院、法律与行政学院、设计学院、艺术与传播学院、外国语学院、工程技术学院、应用数学学院、运动休闲学院以及国际商学部等十五个学院/学部，开设58个专业及若干国际合作课程。</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="settings">
        <h3>师资力量</h3>
        <hr>
        <p>
          截止2015年2月，学校拥有博士学位的教师比例是26%，硕士以上学历教师占教师总数90%以上，外教及拥有境外学习经历或工作的教师比例达40%，双师型教师比例约为20%。[2] 
        </p>
        <h3>硬件设施</h3>
        <hr>
        <img src="resource/img/school-beishi3.jpg" width="200px;" style="float: right;">
        <p>
          截止2015年2月，北京师范大学珠海分校体育设施齐备，已建有足球场2个，350米、400米标准塑胶运动场
校园活动与学生生活
校园活动与学生生活(42张)
 各1个，标准比赛泳池和沙滩休闲泳池各1个，大型风雨操场（室内球馆）一座及室外标准篮球场、排球场、网球场等体育设施，可满足师生的训练和锻炼需求。学生宿舍40万余平米，建有不同规格学生宿舍，宿舍设有空调、卫生间以及太阳能自动供热系统；宿舍配备组合式家具、IC卡电话及宽带网接口。学校建有22000多床位的不同规格学生宿舍，大部分宿舍附设卫生间以及太阳能自动供热沐浴系统；每个学生配备一套组合式家具；宿舍均装有空调、IC卡电话及宽带网接口。新建宿舍京华5栋配有现代化电梯。校内有五条专线公交及长途客车直达珠海市区和广州的主要地点，为师生提供优质服务，为莘莘学子学习和生活提供了良好条件。拥有教学及辅助用房20万余平米，多媒体语音教室座位13000个，教学用计算机1500余台。此外，2012年新开休闲体育专业的同时，学校内已建成小型高尔夫球场配以教学使用，并与距离学校7.8公里的珠海高尔夫俱乐部建立合作关系。[2] 
          
        </p>
      </div>
    </div>
  </div>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="foot-container">
        <div class="col-md-8">
          <h2>本站介绍</h2>
          <p align="left">
          北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
          </p>
          <br>
          <p align="left">
          北京师范大学珠海分校（Beijing Normal University, Zhuhai）坐落在海滨城市珠海，是教育部批准设立、由北京师范大学和珠海市人民政府合作举办、进行本科层次教育的全日制普通本科高校。
          </p>
          <br>
        </div>
        <div class="col-md-3">
          <h2>友情链接</h2>
          <p><a href="http://acm.bnuz.edu.cn">北京师范大学珠海分校ACM协会官网</a></p>
          <p><a href="https://oj.bnuz.edu.cn">WeJudge在线评测教学辅助系统</a></p>
        </div>
      </div>
      
    </div>
    <center>
        <br>
        <p>
          Copyright ©2016 QuanQqqqq
        </p>
      </center>
  </footer>
</body>
</html>