/**

create by QuanQqqqq

dateTime 2016/9/25

version 0.1

*/

.border-left-blue{
	border-left:5px solid #00CACA;
}

.border-left-yellow{
	border-left:5px solid #E1E100;
}

.border-left-red{
	border-left:5px solid #AE0000;
}

.border-left-gree{
	border-left:5px solid #019858;
}