@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1470989685_678423.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1470989685_678423.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1470989685_678423.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1470989685_678423.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1470989685_678423.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: 'iconfont';
  font-size: 14px;
  font-style: normal;
}
.film-index > .header {
  height: 720px;
  background-size: cover;
  background-position: center center;
}
.film-index > .header .layout {
  position: relative;
  height: 720px;
  z-index: 99;
  padding: 180px 0;
  width: 100%;
}
.film-index > .header .layout .content {
  width: 100%;
}
.film-index > .header .layout .content .logo {
  display: table;
  margin: 20px auto 40px;
  height: 80px;
}
.film-index > .header .layout .content .logo img {
  display: inline-table;
  height: 80px;
}
.film-index > .header .layout .content .search-main,
.film-index > .header .layout .content .search-under {
  display: table;
  margin: auto auto 0;
  background: -moz-linear-gradient(75deg, #039, #09c 50%, #039);
  background: -webkit-linear-gradient(75deg, #039, #09c 50%, #039);
  background: -o-linear-gradient(75deg, #039, #09c 50%, #039);
  background: -ms-linear-gradient(75deg, #039, #09c 50%, #039);
  background: linear-gradient(75deg, #039, #09c 50%, #039);
}
.film-index > .header .layout .content .search-main .search-content,
.film-index > .header .layout .content .search-under .search-content {
  padding: 35px 30px;
  display: table;
  margin: auto;
}
.film-index > .header .layout .content .search-main .search-content .brand,
.film-index > .header .layout .content .search-under .search-content .brand {
  width: 100px;
  height: 60px;
  float: left;
  margin: 0 20px;
}
.film-index > .header .layout .content .search-main .search-content .brand span,
.film-index > .header .layout .content .search-under .search-content .brand span {
  color: white;
}
.film-index > .header .layout .content .search-main .search-content .brand .brand-logo,
.film-index > .header .layout .content .search-under .search-content .brand .brand-logo {
  display: table;
  margin: 0 auto;
  height: 36px;
}
.film-index > .header .layout .content .search-main .search-content .brand .brand-logo span,
.film-index > .header .layout .content .search-under .search-content .brand .brand-logo span {
  font-size: 36px;
  line-height: 40px;
  vertical-align: top;
}
.film-index > .header .layout .content .search-main .search-content .brand .brand-text,
.film-index > .header .layout .content .search-under .search-content .brand .brand-text {
  display: table;
  margin: 0 auto;
  height: 20px;
}
.film-index > .header .layout .content .search-main .search-content .brand .brand-text span,
.film-index > .header .layout .content .search-under .search-content .brand .brand-text span {
  line-height: 20px;
  vertical-align: bottom;
}
.film-index > .header .layout .content .search-main .search-content .selects,
.film-index > .header .layout .content .search-under .search-content .selects {
  float: left;
  margin: 9px;
  height: 42px;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item,
.film-index > .header .layout .content .search-under .search-content .selects .select-item {
  margin: 0 20px;
  float: left;
  background-color: white;
  height: 42px;
  padding: 10px 5px;
  border-radius: 7px;
  border-bottom: 1px solid #00cccc;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .item-title,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .item-title {
  float: left;
  display: table;
  padding: 0 10px;
  border-right: 2px dotted black;
  margin: 0 5px;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .item-title span,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .item-title span {
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item select,
.film-index > .header .layout .content .search-under .search-content .selects .select-item select {
  margin: 1px 15px 0 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: white;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown {
  display: table;
  float: left;
  width: 200px;
  height: 22px;
  margin: -10px 0 0;
  padding: 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0);
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown button,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown button {
  border: none;
  border-radius: 0;
  width: 200px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  outline: none;
  text-align: left;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown button:hover,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown button:hover,
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown button:focus,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown button:focus {
  background-color: white;
  box-shadow: none;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown button .glyphicon,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown button .glyphicon {
  position: absolute;
  top: 1em;
  right: 10px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown .dropdown-menu,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown .dropdown-menu {
  border-radius: 0;
  margin: -1px 0 0 -1px;
  width: 202px;
  border-top: none;
  padding: 5px 0;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown .dropdown-menu li,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown .dropdown-menu li {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 10px;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .dropdown .dropdown-menu li:hover,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .dropdown .dropdown-menu li:hover {
  background-color: #eee;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .open,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .open {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item .open > .dropdown-toggle.btn-default,
.film-index > .header .layout .content .search-under .search-content .selects .select-item .open > .dropdown-toggle.btn-default {
  background-color: white;
}
.film-index > .header .layout .content .search-main .search-content .selects .select-item input,
.film-index > .header .layout .content .search-under .search-content .selects .select-item input {
  margin: 0;
  padding: 0 5px;
  width: 202px;
  font-size: 16px;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: white;
}
.film-index > .header .layout .content .search-main .search-content .select-submit,
.film-index > .header .layout .content .search-under .search-content .select-submit {
  margin: 75px auto -40px;
}
.film-index > .header .layout .content .search-main .search-content .select-submit .select-submit-btn,
.film-index > .header .layout .content .search-under .search-content .select-submit .select-submit-btn {
  display: table;
  margin: 40px auto 0;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  padding: 3px 80px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 7px;
  color: white;
  font-weight: 200;
  border: 2px solid white;
  border-bottom-color: #00cccc;
  outline: none;
}
.film-index > .header .layout .content .search-main {
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0), /*左边阴影*/ 0 -5px 5px rgba(0, 0, 0, 0), /*顶部阴影*/ 0 15px 50px -10px #000, /*底部阴影*/ 5px 0 5px rgba(0, 0, 0, 0);
  /*右边阴影*/
}
.film-index > .header .layout .content .search-under {
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0), /*左边阴影*/ 0 -5px 5px rgba(0, 0, 0, 0), /*顶部阴影*/ 0 15px 50px -10px #000 inset, /*底部阴影*/ 5px 0 5px rgba(0, 0, 0, 0);
  /*右边阴影*/
}
.film-index > .header .layout .content .search-content {
  padding-bottom: 30px;
}
.film-index > .page-content {
  margin: 20px 0;
}
.film-index > .page-content .content-bar .main .title-bar {
  margin: 15px 0;
  display: inline-block;
  width: 100%;
}
.film-index > .page-content .content-bar .main .title-bar .title {
  float: left;
  display: table;
}
.film-index > .page-content .content-bar .main .title-bar .title h2 {
  display: table;
  float: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
  margin: 0;
}
.film-index > .page-content .content-bar .main .title-bar .more {
  float: right;
  height: 24px;
  width: 24px;
  display: table;
}
.film-index > .page-content .content-bar .main .title-bar .more span {
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}
.film-index > .page-content .content-bar .main .content {
  margin-top: 0;
}
.film-index > .page-content .content-bar .main .price-card .table > tbody > tr > td,
.film-index > .page-content .content-bar .main .price-card .table > tbody > tr > th,
.film-index > .page-content .content-bar .main .price-card .table > tfoot > tr > td,
.film-index > .page-content .content-bar .main .price-card .table > tfoot > tr > th,
.film-index > .page-content .content-bar .main .price-card .table > thead > tr > td,
.film-index > .page-content .content-bar .main .price-card .table > thead > tr > th {
  padding: 5px 5px 4px;
}
.film-index > .page-content .content-bar .main .price-card table {
  margin-bottom: 10px !important;
  border-bottom: 2px solid #039;
}
.film-index > .page-content .content-bar .main .price-card table thead {
  background-color: #eee;
}
.film-index > .page-content .content-bar .main .price-card table thead > tr > th {
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr {
  height: 40px;
  overflow: hidden;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr:hover,
.film-index > .page-content .content-bar .main .price-card table tbody > tr:focus {
  background-color: #eee;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td {
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-info > span,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-price,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-number,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-position > span {
  vertical-align: middle;
  font-weight: 600;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-info > span,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-position > span {
  font-size: 14px;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-price,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-number {
  font-size: 14px;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-info {
  text-align: left !important;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .function > a > span,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-unit,
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .item-date > span {
  font-size: 12px;
  vertical-align: middle;
  color: #039;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .function .seller-info {
  float: left;
}
.film-index > .page-content .content-bar .main .price-card table tbody > tr > td .function .pick {
  float: left;
  margin-left: 10px;
}
.film-index > .page-content .content-bar .main .article-list .article-top {
  width: 100%;
  max-height: 160px;
  overflow: hidden;
}
.film-index > .page-content .content-bar .main .article-list table {
  border-bottom: 2px solid #039;
  border-collapse: collapse;
  margin: 1.5em auto 5px;
}
.film-index > .page-content .content-bar .main .article-list table > tbody #news-1,
.film-index > .page-content .content-bar .main .article-list table > tbody #problem-1 {
  border-top: none !important;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr {
  height: 19px;
  border-top: 1px solid #ddd;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr td {
  border-top: none;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr .article-title {
  float: left;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr .article-title a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  vertical-align: middle;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr .article-title a:hover {
  color: #039;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr .article-date {
  float: right;
}
.film-index > .page-content .content-bar .main .article-list table > tbody > tr .article-date span {
  color: #039;
  font-size: 12px;
  line-height: 1.2em;
  vertical-align: middle;
}
.film-index > .page-content .ad-card {
  margin-bottom: 10px;
  width: 100%;
}
.film-index > .page-content .ad-card a {
  width: 100%;
  display: table;
}
.film-index > .page-content .ad-card a img {
  width: 100%;
  padding-top: 20px;
  max-height: 180px;
  overflow: hidden;
}
